<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BankProject</display-name>
  <welcome-file-list>
    <welcome-file>WithDrawAccount.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreatAccountServlet</display-name>
    <servlet-name>CreatAccountServlet</servlet-name>
    <servlet-class>com.hcl.bank.CreatAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatAccountServlet</servlet-name>
    <url-pattern>/CreatAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAccountServlet</display-name>
    <servlet-name>SearchAccountServlet</servlet-name>
    <servlet-class>com.hcl.bank.SearchAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAccountServlet</servlet-name>
    <url-pattern>/SearchAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccountServlet</display-name>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <servlet-class>com.hcl.bank.UpdateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <url-pattern>/UpdateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseAccountServlet</display-name>
    <servlet-name>CloseAccountServlet</servlet-name>
    <servlet-class>com.hcl.bank.CloseAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAccountServlet</servlet-name>
    <url-pattern>/CloseAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DespositAccountServlet</display-name>
    <servlet-name>DespositAccountServlet</servlet-name>
    <servlet-class>com.hcl.bank.DespositAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DespositAccountServlet</servlet-name>
    <url-pattern>/DespositAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithDrawAccountServlet</display-name>
    <servlet-name>WithDrawAccountServlet</servlet-name>
    <servlet-class>com.hcl.bank.WithDrawAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithDrawAccountServlet</servlet-name>
    <url-pattern>/WithDrawAccountServlet</url-pattern>
  </servlet-mapping>
</web-app>